<% include partials/header %>

<main>
    

    <div class="banner">
    <img src="https://images.unsplash.com/photo-1525332193053-dee9e7348624?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a171c64a1cb121a923c4e95d8308ca9e&auto=format&fit=crop&w=1350&q=80">
        <div class="banner-content">
            <h1>Get to know us.</h1>
            <h2>We are awesome.</h2>
        </div>
    </div>
    <div class="about_section container">
        <section class="col-md-6 col-xs-12 ">
                <h2>Who are we</h2>
                <p>We are dedicated to help those in needs beliving everyone deserve education, food and medial treatment. Together we can ...We are dedicated to help those in needs beliving everyone deserve education, food and medial treatment. Together we can ...We are dedicated to help those in needs beliving everyone deserve education, food and medial treatment. Together we can ...We are dedicated to help those in needs beliving everyone deserve education, food and medial treatment. Together we can ...</p>
        </section>
        <section class="col-md-6 col-xs-12 ">
                <h2>Our Vision</h2>
                <p>We are dedicated to help those in needs beliving everyone deserve education, food and medial treatment. Together we can ...We are dedicated to help those in needs beliving everyone deserve education, food and medial treatment. Together we can ...We are dedicated to help those in needs beliving everyone deserve education, food and medial treatment. Together we can ...We are dedicated to help those in needs beliving everyone deserve education, food and medial treatment. Together we can ...</p>
        </section>
        <section class="col-md-6 col-xs-12 ">
                <h2>How we try to achieve it</h2>
                <p>We are dedicated to help those in needs beliving everyone deserve education, food and medial treatment. Together we can ...We are dedicated to help those in needs beliving everyone deserve education, food and medial treatment. Together we can ...We are dedicated to help those in needs beliving everyone deserve education, food and medial treatment. Together we can ...We are dedicated to help those in needs beliving everyone deserve education, food and medial treatment. Together we can ...</p>
        </section>
        <section class="col-md-6 col-xs-12 ">
                <h2>How YOU can help</h2>
                <p>We are dedicated to help those in needs beliving everyone deserve education, food and medial treatment. Together we can ...We are dedicated to help those in needs beliving everyone deserve education, food and medial treatment. Together we can ...We are dedicated to help those in needs beliving everyone deserve education, food and medial treatment. Together we can ...We are dedicated to help those in needs beliving everyone deserve education, food and medial treatment. Together we can ...</p>
        </section>
    </div>
    
</main>

<% include partials/footer %>