<% include partials/header %>
<div class="extra_space">
    <div class="card-columns">
        <div class="card">
            <img class="card-img-top" src="https://images.unsplash.com/photo-1521493959102-bdd6677fdd81?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4a027094c15a1ae14bf72f8f71d9380b&auto=format&fit=crop&w=1350&q=80" alt="Card image cap">
        </div>
        <div class="card">
            <img class="card-img-top" src="https://images.unsplash.com/photo-1518398046578-8cca57782e17?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=959228001844e0370bcb348f9d1e000a&auto=format&fit=crop&w=1350&q=80" alt="Card image cap">
        </div>
        <div class="card">
            <img class="card-img-top" src="https://images.unsplash.com/photo-1469571486292-0ba58a3f068b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e6daa4b6ab26a89c93cd9b84fee487fe&auto=format&fit=crop&w=1350&q=80" alt="Card image cap">
        </div>
        <div class="card">
            <img class="card-img-top" src="https://images.unsplash.com/photo-1507427100689-2bf8574e32d4?ixlib=rb-0.3.5&s=18a481cf8591ce4159ece013ad8c148b&auto=format&fit=crop&w=634&q=80" alt="Card image cap">
        </div>
        <div class="card">
            <img class="card-img-top" src="https://images.unsplash.com/photo-1497528892195-b4ee7ea4f8bc?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5251494ec9aa2e78a79054b1d27e6407&auto=format&fit=crop&w=1350&q=80" alt="Card image cap">
      </div>
      <div class="card">
            <img class="card-img-top" src="https://images.unsplash.com/photo-1497486751825-1233686d5d80?ixlib=rb-0.3.5&s=1007f18dc498029fbabe14eaaffec14c&auto=format&fit=crop&w=1301&q=80" alt="Card image cap">
      </div>
      <div class="card">
            <img class="card-img-top" src="https://images.unsplash.com/photo-1488521787991-ed7bbaae773c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b73302ddf5fabf9285df2da9c462efbb&auto=format&fit=crop&w=1350&q=80" alt="Card image cap">
      </div>
      <div class="card" style="border:none;">
<iframe width="100%" height="100%" style="min-height:300px;border:none;" src="https://www.youtube.com/embed/tgbNymZ7vqY">
</iframe>
</div>
  </div>
      
</div>
<% include partials/footer %>