<% include ../partials/header %>
<main class="form_body">
    <form action="/stories" method="POST">
      <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">New Story</h1>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Image source" name="picture">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Title" name="title" required>
        </div>
        <div class="form-group">
            <textarea class="form-control" placeholder="Content" rows="5" name="content" required></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</main>
<% include ../partials/footer %>